{% extends "auctions/layout.html" %}

{% block body %}
    <body >

    <div class="container">
    <div class="jumbotron" style="margin: 30px auto; background:url(https://i.ibb.co/HnMyp6H/Active-Listings.png) no-repeat; background-size: 100%;"></header>
    <h1> <br/><br/><br/><br/><br/> </h1>


    <div style="margin: 10% 2% auto auto">
        <div class="container text-center">
            <div class="row">
                <p>   
                <div class="col-lg-12" style="margin-top: 15px">
                    <a href="{% url 'allclosed' %}" class="btn btn-lg btn-dark btn-block text-uppercase" style="font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">
                            CLOSED </a>
                </div>
                {% for item in object %}
                <div class="col-lg-4"  style="margin-top: 15px">
                <a href="{% url 'categorylistings' item|slugify %}" class="btn btn-lg btn-warning btn-block text-uppercase" style="font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold;padding: 1rem;transition: all 0.2s;">
                              {{ item }} </a>
                </div>
                {% endfor %}
      
                </p>
                
            </div>
        </div>
    </div>

    </div>
    </div>
    </body>
{% endblock %}