{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <body style="margin-top: 100px">
        <h5 class="w-80 p-3" >Create Listings</h5>

        <form class="w-80 p-3" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ form.productnames|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.startingbids|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.images|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.category|as_crispy_field }}
                </div>
            </div>
            {{ form.descriptions|as_crispy_field }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form> 
    </body>

{% endblock %}

