{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <body style="margin-top: 100px">
        <h5 class="w-80 p-4" >Create Listings</h5>

        <form class="w-80 p-3" method="post">
            {% csrf_token %}
                <div class="col-12 autofocus">
                    {{ form.productnames|as_crispy_field }}
                    {{ form.startingbids|as_crispy_field }}
                    {{ form.descriptions|as_crispy_field }}
                    {{ form.images|as_crispy_field }}
                    {{ form.category|as_crispy_field }}
                    <button type="submit" class="btn btn-success" style="margin-top: 5%">Submit</button>
                </div>
        </form> 
    </body>

{% endblock %}

