{% extends "auctions/layout.html" %}

{% block body %}

<!-- HEADER -->
<div class="container">
    <div class="jumbotron" style="margin: 38px auto; background:url(https://i.ibb.co/nsTz1gg/Active-Listings.gif) no-repeat; background-size: 100%;"></header>
    <h1> <br/><br/><br/><br/><br/> </h1>
    </div>
    
<!-- LOOP TO OUTPUT ACTIVE LISTINGS -->
    <div class="row text-center">
    {% for object in object %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    {% if object.images %}
                            <img class="card-img-center" src="{{ object.images }}">
                        {% else %}
                            <img class="card-img-top" src="https://i.ibb.co/JpH8YSD/no-image-1.png" alt="">
                        {% endif %}  
                    <div class="card-body">
                        <h5 class="card-title"> {{ object.productnames }} </h5>
                        <p class="card-text">${{ object.startingbids }} </p>
                    </div>
                    <div class="card-footer" style="background: white;">
                        <a href="{% url 'listingpage' object.id %}" class="btn btn-lg btn-warning btn-block text-uppercase" style="font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; ;transition: all 0.2s;" class="btn">Check Item</a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>

{% endblock %}




 <!-- <img src="{{ object.images }}" onerror="this.style.opacity='0'"
                     width="200" 
                     class="ml-lg-5 order-1 order-lg-2" 
                     alt="No Image Available for {{ object.productnames}}">  -->