{% extends "auctions/layout.html" %}

{% block body %}

    <div class="w-70 p-3" style="margin: 80px auto 0 auto">

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    
    <div >
    <form action="{% url 'register' %}" method="post" style="margin: 20px 0 20px">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register" >
    </form>
    </div>
    
    <div style="margin-top: 30px">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>

    </div>
{% endblock %}